<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>LIRA Net Manager</title>

    <!-- Bootstrap -->
    <link href="{{ request.static_url('netmanager:static/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ request.static_url('netmanager:static/js/html5shiv.min.js') }}"></script>
    <script src="{{ request.static_url('netmanager:static/js/respond.min.js') }}"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ request.static_url('netmanager:static/js/jquery-1.11.3.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ request.static_url('netmanager:static/js/bootstrap.min.js') }}"></script>
    <script src="{{ request.static_url('netmanager:static/js/jquery.canvasjs.min.js') }}"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ request.route_url('index') }}">Net Manager</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if not request.operator %}
          <form class="navbar-form navbar-right" action="{{ request.route_url('signin') }}">
            <div class="form-group">
              <input type="text" name="callsign" placeholder="Callsign" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
          {% else %}
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-text"><p>Welcome {{ request.operator.call }}</p></li>
            <li><a href="{{ request.route_url('settings_index') }}">Settings</a></li>
            <li><a href="{{ request.route_url('operators') }}">Operators</a></li>
            <li><a href="{{ request.route_url('nets') }}">Nets</a></li>
            <li><a href="{{ request.route_url('activitylog') }}">Activity Log</a></li>
            <!-- dropdown example <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Operators</a></li>
                <li><a href="#">Nets</a></li>
                <li><a href="#">Profile</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->

            <li><a href="{{ request.route_url('signout') }}">Signout</a></li>
          </ul>
          {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    {% block mainarea %}{% endblock %}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <hr />
          &copy; 2016 Stephan M Ellis, KG5ICZ
        </div>
      </div>
    </div>
  </body>
</html>
