{% extends "base.html" %}

{% block mainarea %}

{% if active_nets %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% for net in nets %}
      <h4>{{ net.desc }} is Active (as of {{ net.dt_begin }})</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Timestamp</th>
            <th>Callsign</th>
            <th>Checkin Type</th>
            <th>Location</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          {% for c in net.CheckIns %}
          <tr>
            <td>{{ c.dt }}</td>
            <td>{{ c.Operator.call }}</td>
            <td>{{ c.checkin_type }}</td>
            <td>{{ c.location }}</td>
            <td>{{ c.notes }}</td>
          </tr>
          {% endfor %}
          <tr></tr>
        </tbody>
      </table>
      {% endfor %}
    </div>
  </div>
</div>
{% else %}
<div class="jumbotron">
      <div class="container">
        <h1>LIRA Netmanager</h1>
        <p>a web based application for keeping track of net operations, especially rag chew and severe weather nets.</p>
      </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6">
      <h2>Gaining Access</h2>
      <p>Contact any of the net managers on the link system for access:</p>
      <ul>
        <li>KE5IRK Geary</li>
        <li>K5WXL Matt</li>
        <li>KG5ICZ Stephan</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Repeaters</h2>
      <p>These repeaters are part of the link system.</p>
      <ul>
        <li>442.525 +5 PL 123 Lawton, OK</li>
        <li>444.450 +5 PL 123 Cement, OK</li>
        <li>442.200 +5 PL 123 Grandfield, OK</li>
        <li>443.300 +5 PL 123 Hedrick, OK</li>
      </ul>
      <p>In case of failure on the link system, use this machine</p>
      <ul>
        <li>444.075 +5 PL 123 Lake Lawtonka</li>
      </ul>
   </div>
  </div>
</div> <!-- /container -->
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Net Archive</h2>
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Description</th>
                  <th>Created</th>
                  <th>Begin</th>
                  <th>Close</th>
                  <th># Operators / Events</th>
                  <th>Duration</th>
              </tr>
          </thead>
          <tbody>
              {% for n in all_nets %}
              <tr>
                  <td><a href="{{ request.route_url('view_net', id=n.id) }}">{{ n.desc }}</a></td>
                  <td>{{ n.dtf_create }}</td>
                  <td>{{ n.dtf_begin }}</td>
                  <td>{{ n.dtf_close }}</td>
                  <td>{{ n.count_checkins() }} / {{ n.count_events() }}</td>
                  <td>{{ n.duration }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
