{% extends "base.html" %}

{% block mainarea %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>{{ net.desc }}</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Timestamp</th>
            <th>Callsign</th>
            <th>Checkin Type</th>
            <th>Location</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          {% for c in net.CheckIns %}
          <tr>
            <td>{{ c.dt }}</td>
            <td>{{ c.Operator.call }}</td>
            <td>{{ c.checkin_type }}</td>
            <td>{{ c.location }}</td>
            <td>{{ c.notes }}</td>
          </tr>
          {% endfor %}
          <tr></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
setTimeout(function() { location.reload() },10000);
</script>

{% endblock %}
